<div class="page-header">
  <h3>Restaurant #<%= @restaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurant.name %></dd>

      <dt>Street</dt>
      <dd><%= @restaurant.street %></dd>

      <dt>City</dt>
      <dd><%= @restaurant.city %></dd>

      <dt>State</dt>
      <dd><%= @restaurant.state %></dd>

      <dt>Zip</dt>
      <dd><%= @restaurant.zip %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @restaurant.neighborhood %></dd>

      <dt>Average stars</dt>
      <dd><%= @restaurant.average_stars %></dd>

      <dt>Total reviews</dt>
      <dd><%= @restaurant.total_reviews %></dd>

      <dt>Price</dt>
      <dd><%= @restaurant.price %></dd>

      <dt>Description</dt>
      <dd><%= @restaurant.description %></dd>

      <dt>Cover image</dt>
      <dd><%= @restaurant.cover_image %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Restaurant has many taggings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Taggings
      </li>

      <% @restaurant.taggings.each do |tagging| %>
        <li class="list-group-item">
          <a href="/taggings/<%= tagging.id %>">
            <%= tagging.restaurant_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Restaurant has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.user_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Restaurant has many owners -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Owners
      </li>

      <% @restaurant.owners.each do |owner| %>
        <li class="list-group-item">
          <a href="/owners/<%= owner.id %>">
            <%= owner.user_id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
